.v-table-filter-value-list
    max-width: none,
    font-size: 0.8125rem,
    word-wrap: normal,
    overflow-y: scroll
    // box-sizing: border-box,
    // align-content:
.v-table-filter-item
    // display: inline-block,
    // vertical-align: middle,
    // color: green,
    // word-wrap: none
    &--selected:after
        color: red